.footer {
    @apply bg-secondary;
    color: white;
    &__content {
        @apply flex justify-evenly py-5;
        .footer__cart{
            @media (max-width: 640px) {
                display: none;
            }
        }
    }
    svg {
        @apply text-3xl;
    }

    &__navbar {
        &-list {
            @apply flex;
            ul{
                @apply grid grid-cols-3 gap-x-28;
                @media (max-width: 320px) {
                    grid-template-columns: repeat(2, minmax(0, 1fr));
                    gap: 20px;

                }
                li{
                    @apply cursor-pointer
                }
            }
        }
    }
    h3 {
        @apply font-rubik font-medium mb-4;
    }
    ul {
        li {
            @apply hover:text-hover transition flex flex-col mb-2 font-light font-rubik ;
        }
    }
}
